body {
    margin: 0;
    font-family: 'Roboto', sans-serif ;
    display: flex;
}



div {
    display: inline-block;
    max-width: 600px;
    margin: 10px;
}

p {
    color: #0a67c4;
    margin: 5px;
}

.title {
    color: black;
    font-weight: 500;
}

div:nth-child(2) section > .title {
    font-weight: 900;
}
.red {
    color: #b1343a;
}

.grey {
    color:grey;
}

.price {
    color: #555555;
    font-size: 14px;
}

.description {
    font-size: 12px;
    font-weight: 600;
}


img {
    height: 15px;
    width: 20px;
}

section {
    border: 1px solid #adb1b8;
    width: 150px;
    height: 60px;
    font-size: 15px;
    padding-left: 5px;
}

div:nth-child(5) section {
    height: 75px;
}

div:nth-child(2) section {
    border: 1px solid orange;
    background-color: #fef8f2;
    font-weight: bolder;
}